/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
}

/* banner styles */
.banner {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 180px 160px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

/* primary button style */

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
}

.flower-pic {
    margin-left: 50px;
}

/* Featured products section styles */

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin: 0 663px 48px 663px;
}

.featured-flowers {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    align-items: center;
}

.featured-flowers-pictures {
    display: flex;
    align-items: center;
    justify-content: center;

}

#featured-flower-one {
    background: rgba(167, 33, 98, 0.15);
}

#flower-image-one {
    width: 310px;
    height: 428px;
    margin: 110px 78px 0px 76px;
}

#featured-flower-two {
    background: rgba(5, 151, 160, 0.15)
}

#flower-image-two {
    width: 370px;
    height: 370px;
    margin: 117px 47px 51px 47px;
}

#featured-flower-three {
    background: rgba(71, 125, 17, 0.15);
}

#flower-image-three {
    margin: 67px 75px 0px 75px;
}

.flower-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* services section styles */

.services-info {
    display: flex;
    width: 1440px;
    height: 320px;
    justify-content: center;
    margin-top: 250px;
    margin: 200px 240px 128px 240px;
}

.image-container {
    text-align: center;
    width: 100%;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.services-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.services-image {
    margin-top: 86px;
    margin-bottom: 24px;
    width: 88px;
    height: 88px;
}

#services-image-one {
    width: 33%;
}

#services-image-two {
    width: 33%;
}

#services-image-three {
    width: 33%;
}

.services-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

#services-text-one {
    width: 372px;
    padding-right: 20px;
}

#services-text-two {
    width: 316px;
}

#services-text-three {
    width: 202px;
}

/* Offers section */
.offers {
    display: flex;
    /* justify-content: center; */
    /* text-align: center; */


}

.offers-column {
    width: 50%;
    /* justify-content: center; */
}

#offers-left {
    padding-top: 60px;
}

#offers-right {
    /* padding-left: 100px; */
}

.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-left: 300px;

}

.text-primary {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.offer-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-left: 280px;
}

#offers-img {
    margin: 0px 430px 100px 200px;
}

/* sign-up button */
#signup {
    margin-left: 550px;
}

/* instagram section */
.instagram-info {
    text-align: center;
    display: block;
}

#instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

#instagram-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

#instagram-container {
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 48px;
    display: flex;
    gap: 24px;
}

#latest-deals {

    height: 100%;
    margin: 128px 240px 128px 240px;

}

#deals-container {
    /* padding: 128px 240px 128px 240px; */
    text-align: center;
    background: url("../images/Rectangle\ 9.png");
    height: 449px;
    position: relative;
    display: block;
}

#deals-title {
    position: absolute;
    margin-top: 122px;
    margin-left: 520px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

#deals-text {
    position: absolute;
    top: 40%;
    left: 630px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

#email {
    position: absolute;
    top: 55%;
    left: 120px;
    width: 1000px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

#subscribe{
    position: absolute;
    top: 55%;
    left: 1150px;
}